<a href="https://colab.research.google.com/github/Ruqyai/Course-DS/blob/master/Try_by_yourself_ytechsa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


#Learning Objectives:

 
* Formulate  the problem
* Load the Data
* Data Exploration
* Clean The Data
* Discover and Visualize the Data to Gain Insights
* Looking for Correlations
* Prepare the Data for Machine Learning Algorithms
* Save Cleaned Data and Download it

#Houses prices

<h3>About Data </h3>


 <h2>Read Dataset Description</h2>
We want to predict students performance in math in secondary education of two high schools. Please read the description of data set before start.

 [Dataset Description](https://archive.ics.uci.edu/ml/datasets/student+performance)

<h3>Import data</h3>
<p>
here link of raw data set: <a href="https://raw.githubusercontent.com/Ruqyai/Course-DS/master/math-raw.csv"> here</a>. 

</p>

#Formulate  the problem

We want to predict the Math Final Grade

So How predict the Math Final Grade?!!

Notice the data is labeled (**Supervised Learning**)

Notice the desired output is number (**Regression**)



###Import libraries

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

#Load the Data

###Load the dataset

In [2]:
file_path = 'https://raw.githubusercontent.com/Ruqyai/Course-DS/master/math-raw.csv'

In [3]:
#Use the Pandas method read_csv() to load the data from the web address.
df = pd.read_csv(file_path)
df

    school     sex   age address famsize  ... health  absences    G1  G2  G3
0       GP       F  18.0       U     GT3  ...      3       NaN   5.0   6   6
1       GP       F  17.0       U     GT3  ...      3       NaN   5.0   5   6
2       GP  Female  15.0       U     LE3  ...      3      10.0   7.0   8  10
3       GP       F  15.0       U     GT3  ...      5       2.0  15.0  14  15
4       GP       F  16.0       U     GT3  ...      5       4.0   6.0  10  10
..     ...     ...   ...     ...     ...  ...    ...       ...   ...  ..  ..
390     MS       M  20.0       U     LE3  ...      4      11.0   9.0   9   9
391     MS       M  17.0       U     LE3  ...      2       3.0  14.0  16  16
392     MS       M  21.0       R     GT3  ...      3       3.0  10.0   8   7
393     MS       M  18.0       R     LE3  ...      5       0.0  11.0  12  10
394     MS       M  19.0       U     LE3  ...      5       5.0   8.0   9   9

[395 rows x 33 columns]

#Clean  the data

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      373 non-null    object
 1   sex         394 non-null    object
 2   age         394 non-null    float64
 3   address     394 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    393 non-null    float64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    object
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    393 non-null    float64
 30  G1          393 non-null    float64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: float64(4), int64(11), object(18)
memory usage: 102.0+ KB


##Missing  Values

#Identify and handle missing values

As we can see, several question marks appeared in the dataframe; those are missing values which may hinder our further analysis. 
<div>So, how do we identify all those missing values and deal with them?</div> 


<h1>How to work with missing data?</h1>

Steps for working with missing data:
<ol>
    <li>identify missing data</li>
    <li>deal with missing data</li>
    <li>correct data format</li>
</ol>

<h1 id="identify_missing_values">1. Identify missing values</h1>

In [ ]:
# TODO : Identify missing values

In [ ]:
# TODO: Check if there is any missing value By heatmap

   
   <h4>Convert "?" to NaN</h4>In the house dataset, missing data comes with the question mark "?".We replace "?" with NaN (Not a Number), which is Python's default missing value marker, for reasons of computational speed and convenience. Here we use the function:  <pre>.replace(A, B, inplace = True) </pre>to replace A by B

In [8]:
import numpy as np

# replace "?" to NaN
df.replace("?", np.nan, inplace = True)
df.head(10)

  school     sex   age address famsize  ... health  absences    G1  G2  G3
0     GP       F  18.0       U     GT3  ...      3       NaN   5.0   6   6
1     GP       F  17.0       U     GT3  ...      3       NaN   5.0   5   6
2     GP  Female  15.0       U     LE3  ...      3      10.0   7.0   8  10
3     GP       F  15.0       U     GT3  ...      5       2.0  15.0  14  15
4     GP       F  16.0       U     GT3  ...      5       4.0   6.0  10  10
5     GP    Male  16.0       U     LE3  ...      5      10.0  15.0  15  15
6     GP       M  16.0       U     LE3  ...      3       0.0  12.0  12  11
7    NaN     NaN   NaN     NaN     GT3  ...      1       6.0   6.0   5   6
8    NaN       M  15.0       U     LE3  ...      1       0.0  16.0  18  19
9    NaN       M  15.0       U     GT3  ...      5       0.0  14.0  15  15

[10 rows x 33 columns]

<h1 id="deal_missing_values">2. Deal with missing data</h1>
<b>How to deal with missing data?</b>

<ol>
    <li>drop data<br>
        a. drop the whole row<br>
        b. drop the whole column
    </li>
    <li>replace data (impute)<br>
        a. replace it by mean or median <br>
        b. replace it by frequency<br>
        c. replace it based on inference or other functions 
    </li>
</ol>

<h3>Drop the whole row</h3>

In [ ]:
# TODO:Drop the whole row

<h3>Drop the whole column</h3>

In [ ]:
# TODO: Drop the whole column

<h3> Replace it by mean </h3>

In [ ]:
# TODO: Replace it by mean

<h3>Replace by frequency</h3>

In [ ]:
# TODO: Replace by frequency

<h3> Replace by sklearn.impute </h3>

In [ ]:
# TODO: Replace by sklearn.impute

<h1 id="correct_data_format">3. Correct data format</h1>
<b>We are almost there!</b>
<p>The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).</p>

In Pandas, we use 
<p><b>.dtype</b> to check the data type</p>
<p><b>.astype</b> to change the data type</p>

In [ ]:
# TODO: Correct data format

<h2 id="indicator">Indicator variable (or dummy variable)</h2>
<b>What is an indicator variable?</b>
<p>
    An indicator variable (or dummy variable) is a numerical variable used to label categories. They are called 'dummies' because the numbers themselves don't have inherent meaning. 
</p>

<b>Why we use indicator variables?</b>
<p>
    because we cannot use categorical variables for regression analysis as string.
</p>

In [ ]:
# TODO: Use dummy variables

<h3>LabelEncoder</h3>

In [ ]:
 # TODO: Use LabelEncoder

<h3>OneHotEncoder</h3>

In [ ]:
# TODO: Use LabelEncoder

<h3>Remove any duplicates</h3>

In [ ]:
# TODO: Remove any duplicates

<h3>Data Standardization</h3>
<p>
Data is usually collected from different agencies with different formats.
(Data Standardization is also a term for a particular type of data normalization)
</p>
    
<b>What is Standardization?</b>
<p>Standardization is the process of transforming data into a common format which allows the researcher to make the meaningful comparison.
</p>

<h3>Data Normalization </h3>

<b>Why normalization?</b>
<p>Normalization is the process of transforming values of several variables into a similar range. Typical normalizations include scaling the variable so the variable average is 0, scaling the variable so the variance is 1, or scaling variable so the variable values range from 0 to 1
</p>



---

---

##Exploratory Data Analysis (EDA) and Data Visualization


Categorical variables are variables that describe a 'characteristic' of a data unit, and are selected from a small group of categories. The categorical variables can have the type "object" or "int64". A good way to visualize categorical variables is by using boxplots.

<h3>Identify Outliers <h3>

In [ ]:
# TODO: Identify Outliers

<h3>Remove Outliers</h3>

In [ ]:
# TODO:  Remove Outliers

##Discover and Visualize the Data to Gain Insights

<h4>Individual Variables </h4>

In [ ]:
# TODO: Show Individual Variable as graph

<h4>Relationships Between Variables</h4>

In [ ]:
 # TODO: Show relationship between two Variables

<h4>Weak and Strong Relationships<h4>

In [ ]:
# TODO: Show some weak and Strong Relationships

##Looking for Correlations

<h3>Correlation and Causation</h3>

<b> Correlation: </b> a measure of the extent of interdependence between variables.

<b> Causation: </b>the relationship between cause and effect between two variables.

It is important to know the difference between these two and that correlation does not imply causation. Determining correlation is much simpler the determining causation as causation may require independent experimentation.

In [ ]:
# OTDO : Show the Correlation between variables

#Feature  Engineering

* Construct new features
* Combine two features or uncombine a feature
*	Select features

<h3>Conclusion: Important Variables</h3>
We now have a better idea of what our data looks like and which variables are important to take into account when predicting the house price.

##Select features

In [ ]:
# TODO: Select the important features

<h3>Save Cleaned Data and Download it <h3>

#Choose and  fit model
We will continue tomorrow ...